%{T5}
%{F#F694FA}  %{F-}
{% for tag in workspace.tags %}
{% if tag.mine%}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#F694FA}%{B#7B02C4} {{tag.name}} %{B-}%{F-}
%{A}
{% elsif tag.visible  %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#1E272B}%{B#7B02C4} {{tag.name}} %{B-}%{F-}
%{A}
{% else tag.focused %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#1E272B}%{B#7B02C4} {{tag.name}} %{B-}%{F-}
%{A}
{% endif %}
{% endfor %}
%{T-}